# Backend Configuration
PROJECT_NAME="Architectural Thermal PINN Microservice"
DEBUG=True
API_V1_STR="/api"
PORT=8000
HOST="0.0.0.0"

# Firebase Admin SDK Credentials
# Either provide local service account JSON path or raw credentials
FIREBASE_SERVICE_ACCOUNT_KEY_PATH="serviceAccountKey.json"
FIREBASE_PROJECT_ID="mock-app"
FIREBASE_STORAGE_BUCKET="mock-app.appspot.com"
